.mat-card{
  margin-bottom: 14px;
}
.example-margin {
  margin: 0 10px;
}
.check-box-option {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
