<div class="mat-card-cvr">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{title}}</span>
        <span class="span-padding"></span>
        <button mat-button [matMenuTriggerFor]="menu">功能</button>
      </mat-toolbar-row>
    </mat-toolbar>


    <mat-menu #menu="matMenu">
      <button mat-menu-item>退出</button>
    </mat-menu>

  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Checkbox configuration</h2>

      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="checked" color="primary">Checked</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="indeterminate" color="primary">Indeterminate</mat-checkbox>
      </section>

    </mat-card-content>
  </mat-card>

</div>


