.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-card-cvr{
  width:1024px;
  margin:0 auto;
}

.span-padding{
  padding: 0 14px;
}

::ng-deep .mat-menu-panel{
  background: #3f51b5;
}

.mat-menu-item{
  color: white;
}

